bosdyn-api==5.0.1.2
bosdyn-client==5.0.1.2
bosdyn-core==5.0.1.2
bosdyn-mission==5.0.1.2
certifi==2025.11.12
charset-normalizer==3.4.4
Deprecated==1.2.18
grpcio==1.76.0
idna==3.11
numpy==2.0.2
protobuf==6.33.1
PyJWT==2.10.1
pynmea2==1.19.0
requests==2.32.5
typing_extensions==4.15.0
urllib3==2.5.0
wrapt==1.17.3
